[defaults]
inventory = inventory/hosts.yml
roles_path = roles
remote_tmp = C:\Windows\Temp\.ansible\tmp
forks = 5
timeout = 60
stdout_callback = yaml
host_key_checking = False
retry_files_enabled = False
gathering = smart

[privilege_escalation]
become = no

[ssh_connection]
# Not used - WinRM is the transport for Windows targets

[persistent_connection]
connect_timeout = 60
command_timeout = 120
